.dark {
    --text-white: #e6e6e6;
    --text-dark: #ffffff;
  
    --bg-grey-light: #142136;
    --bg-white: #22395d;
    --bg-blue-dark: #142136;
    --bg-indigo: #7577e1;
}

body{
    margin-left: 15% ;
    margin-right: 15%;
    font-family: 'Montserrat',cursive;
    transition: 0.5s;
}

html{
    scroll-behavior: smooth;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    text-align: center;
    padding: 5px;
}

input{
    border: none;
    background-color:#F5F6FB ;
    border-radius: 15px;
    width: 400px;
    height: 30px;
    text-align: center;
}

button{
    border: none;
    background-color: #1F7CFF ;
    color: white;
    width: 100px;
    height: 32px;
    border-radius: 12px;
}

form{
    justify-content: space-evenly;
    padding: 15px;

}

#header1{
    text-align: left;
    font-size: 24px;
}

#header2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

#header2 a:hover{
    color:#6b5b59 ;
    transition: 0.3s;
}

a{
    text-decoration:none;
    color: #F75C4E;
}

#conheca1{
    text-align: left;
}

#conheca1 a:hover{
    color:#6b5b59 ;
    transition: 0.3s;
}

#meuNome{
    font-size: 45px;
    padding-top: 15px;
    margin: 0;
}

.conheca2{
    border:solid 1px #ccc;
    box-shadow: 2px 2px 5px rgba(0 , 0 , 0 , 0.2);
    border-radius: 15px;
}

#cliente0{
    text-align: left;
}

#cliente1{
    padding: 50px;
}

#cliente2{
    padding: 50px;
}
#cliente3{
    padding: 50px;
}

#fechamento{
    align-items: center;
}

div{
    padding: 30px;
}

a img:hover{
    transition: transform 0.5s;
    transform: scale(1.5);
}

.imgPortfolio{
    width: 200px;
    height: 150px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(139, 139, 139);
}

#mode{
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.trilho{
    width: 100px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
}

.trilho .indicador{
    width: 39px;
    height: 39px;
    background-color: #b4b4b4;
    border-radius: 50%;
    transform:scale(.9);
    display: flex;
    justify-content: start;
    position: absolute;
    left: 0px;
    transition: .5s;
}

.trilho.dark{
    background-color: #777777;
}

.trilho.dark .indicador{
    left: 50%;
    background-color: #303030;
}

body.dark{
    background-color: #303030;
    color: #fff;
}

@media only screen and (max-width:600px){

    .trilho.dark .indicador{
        left: 60px;
        background-color: #303030;
    }

    body{
        margin: auto;
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding: auto;
        border: auto;
    }

    #header1{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    #header2{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    nav{
        display: flex;
        flex-direction: row;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    #conheca1{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    #meuNome{
       font-size: 30px;
    }

    .conheca2{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    #cliente0{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 50%;
    }

    #cliente1{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 50%;
    }

    #cliente2{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 50%;
    }

    #cliente3{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 50%;
    }
    
    #fechamento{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    #portfolio{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }

    img{
        width: 80%;
    }
    form{
        width: 80%;
    }

    form input{
        width: 80%;
    }

    svg{
        width: 50%;;
    }

    h1{
        font-size: 38px;
    }
    h2{
        font-size: 28px;
    }

    #header1 p{
        width: 80%;
        font-size: 20px;
    }

    #header1 b{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .trabalhos{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        padding: auto;
        width: 80%;
    }    
}